.quiz__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 3rem;
}

.quiz__container ul {
	display: flex;
	flex-direction: column;
}

.quiz {
	background-color: var(--bg-color);
	padding: 3rem 2rem;
	margin: 1rem 0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 2px rgba(200, 200, 200, 0.4);
}

.quiz__content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1rem;
	background-color: var(--bg-color);
	border: 3px solid black;
	box-shadow: 10px 10px 0px 5px var(--tertiary-color);
	position: relative;
}

.quiz__content h3 {
	max-width: 80%;
	position: absolute;
	background-color: var(--bg-color);
	padding: 0.2rem;
	top: -20px;
}

.quiz__container p {
	padding-top: 0.5rem;
}

.quiz__img {
	width: 200px;
	height: 150px;
	overflow: hidden;
	border-radius: 10px;
	margin: 1rem;
}

.quiz__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.quiz:hover {
	transform: scale(1.01);
}

@media (min-width: 768px) {
	.quiz {
		width: 50vw;
	}

	.quiz__content {
		flex-wrap: nowrap;
	}
}
