/* You can add global styles to this file, and also import other style files */
/* 
* --> Reset CSS
*/
@import url("assets/css/reset.css");

:root {
	--primary-color: #ee3322;
	--secondary-color: #0f65ef;
	--tertiary-color: #ffee00;
	--bg-color: #ffffff;
	--bg-gray-color: #f4f4f4;
	--text-color: #222222;
	--shadow-default: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--bg-gray-color);
}

h1,
h2,
h3,
p,
span {
	color: var(--text-color);
}

h1 {
	font-size: 1.75rem;
	font-weight: 700;
}

h2 {
	font-size: 1.375rem;
	font-weight: 700;
}

h3 {
	font-size: 0.875rem;
	font-weight: 700;
}

p {
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 2.75rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3,
	p {
		font-size: 1.125rem;
	}
}
